.rounded-borders {
  border-radius: 0.45rem;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.full-width-padding {
  width: calc(100vw - 4rem);
}

.margin {
  margin: $default-margin;
}

.message-box {
  background-color: $color-default-background;
  text-align: center;
  padding: 2rem;
}
